body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
.main-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding:40px 40px ;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 50px;

}
.name-color{
    color: orange;
}
.gradient-btn{
    background-image: linear-gradient(orange , tomato);
}
.half-width a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}

.dream-text{
    font-size: 40px;
}

.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

