body{
    font-family: 'Poppins', sans-serif;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding:40px 40px ;
}
.half-width img{
    width: 80%;
}
h1{
    font-size: 50px;

}
.name-color{
    color: orange;
}
.gradient-btn{
    background-image: linear-gradient(orange , tomato);
}
.half-width a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}




